<!--Menú-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="#page-top"><img class="img-responsive" src="assets/logito.png"  alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#Mascotas">Mascotas</a>
                </li>
                <li class="page-scroll">
                    <a href="#Eventos">Eventos</a>
                </li>
                <li class="page-scroll">
                    <a href="#Nosotros">Nosotros</a>
                </li>
                <li class="page-scroll">
                    <a href="#page-top">Home</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Regístrate</a>
                </li>
                <li class="page-scroll">
                    <a href='#/login'>Ingresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header id="page-top" style='background:url(assets/images.jpg)'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
            </div>
        </div>
    </div>
</header>


<div class="content-wrapper">
    <section class="primary" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row">
                <div class="hizli-menu container-fluid">
                    <div class="hizli-menu-ic container">
                        <div class="row">
                            <div class="page-header text-center">
                            </div>
                            <div class="col-md-5 mbottom">
                                <a class="btn-group" href="#">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-5">
                                            <img src="assets/apadrinar.png" alt="">
                                        </div>
                                        <div class="col-md-8 col-xs-7">
                                            <span>Adoptar</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-5 mbottom">
                                <a class="btn-group" href="#">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-5">
                                            <img src="assets/adoptar.png" alt="">
                                        </div>
                                        <div class="col-md-8 col-xs-7">
                                            <span>Apadrinar</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                        <h2>Mascotas</h2>
                        <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="http://lorempixel.com/360/260/nature/">    
                </div>
                <div class="col-sm-4">
                    <img src="http://lorempixel.com/360/260/animals/">    
                </div>
                <div class="col-sm-4">
                    <img src="http://lorempixel.com/360/260/abstract/">    
                </div>
            </div>
        </div>
    </section>
    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Eventos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="http://lorempixel.com/360/260/nature/">    
                </div>
                <div class="col-sm-4">
                    <img src="http://lorempixel.com/360/260/animals/">    
                </div>
                <div class="col-sm-4">
                    <img src="http://lorempixel.com/360/260/abstract/">    
                </div>
            </div>
        </div>
    </section>
    <section class="primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div>
                    <h3 class="titulo">SOBRE NOSOTROS</h3>
                    <p>
                       MIMAS es una red social para fundaciones protectoras de animales impulsada por la fundación FPA, dicha fundación se encarga de la adopción, apadrinamiento y recuperación de animales; todo con la misión de que cada animal tenga la oportunidad de encontrar un hogar.
                    </p>
                    <p>
                       La fundación también planea el poder permitir a los usuarios gestionar sus procesos de forma interactiva (apoyo al sostenimiento de la fundación con donaciones en especie, publicar animales extraviados y encontrados, búsqueda de animales y solicitudes de adopción). Ampliando así la cobertura del servicio y permitiendo la recepción de más solicitudes.
                    </p>
                    <p>
                       La fundación requiere que, dentro de los casos de adopción, se puedan registrar los avances y resultados de seguimientos post adopción, teniendo la trazabilidad completa del proceso.
                    </p>
                 </div>
                 <div class="col-xs-12 col-md-5 ">
                    <h3 class="titulo">CONTACTO</h3>
                    <p>TELÉFONO</p>
                    <p>(+57) 300 274 3671</p>
                    <p>DIRECCIÓN</p>
                    <p>Cll 39 Sur # 37 - 10 (fundación FPA)</p>
                    <span>Estamos ubicados en la ciudad de Envigado</span>
                 </div>
            </div>
        </div>
    </section>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <ul>
                        <li><a href="http://www.facebook.com/" target="_blank" class="icon-facebook2"></a></li>
                            <li><a href="http://www.twitter.com/" target="_blank" class="icon-twitter"></a></li>
                            <li><a href="https://plus.google.com/" target="_blank" class="icon-google-plus2"></a></li>
                            <li><a href="#" class="icon-mail"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
$(function() {
    
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
    
  });
</script>




























<!--HOME PÚBLICO-->
<!-- <div class="header"> -->

    <!--MENÚ-->
    <!-- <div class="container">
		<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
                            <li>
                                <a class="gn-icon gn-icon-Informacion">Información</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-miembros">Miembros</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-donaciones">Donaciones</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Galería</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Galería</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Mascotas</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Fundaciones</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Adopciones</a>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-Galeria">Apadrinamiento</a>
                        
                            </li>
                        </ul>
                    </div>
                </nav>
            </li>
            <li>
                <a href='#/' class=""><img src="assets/logito.png"></a>
            </li>
            <li class='last'>
                <a href='#/login'><span><img src="assets/usuario.png"></span></a>
            </li>
        </ul>
    </div> -->
<!-- </div>



<div>
    <div class="body-home-publico"  ng-controller="homepublicoController as vm" id="dialogContainer" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                
                </div>
                <div class="col-xs-12 centered logo "></div>

                </div>
            </div>
        </div>
    <div class="container-fluid">
    </div>
    <div class="social">
    </div>
</div>
<footer>
    <div class="footer"></div>
    </div>
</footer> -->





<!-- <script>
    $('.gn-icon-menu').hover(function () {
        $('.gn-menu-wrapper').toggleClass('gn-open-part');
    });
      
    $('.gn-menu-wrapper').hover(function () {
        $(this).toggleClass('gn-open-all');
    })
</script> -->