<div class="header">
	<div id='cssmenu'>
		<ul style="background-color: #186767f2;">
			<li class='active has-sub'><a href='#'><span>Adoptar o apadrinar</span></a>
				<ul style="background-color: #186767f2;">
					<li class='has-sub'><a href='#/apadrinamiento'><span>Adoptar</span></a></li>
					<li class='has-sub'><a href='#/apadrinamiento'><span>Apadrinar</span></a></li>
                    <li class='has-sub'><a href='#/solicitud-adopcion'><span>Solicitudes de adopción</span></a></li>
                    <li class='has-sub'><a href='#/solicitud-apadrinamiento'><span>Solicitudes de apadrinamiento</span></a></li>
				</ul>
			</li>
			<li class='active has-sub'><a href='#'><span>Mi perfil</span></a>
			</li>
			<li class='active has-sub'><a href='#'><span>Mis mascotas</span></a>
			<ul style="background-color: #186767f2;">
				<li class='has-sub'><a href='#/mascota'><span>Gestionar mascota</span></a></li>
				</ul>
			</li>
			<li class='active has-sub'><a href='../Fundaciones/Fundacion.html'><span>Fundaciones</span></a>
			<ul style="background-color: #186767f2;">
				<li><a href="#/adopcion">Adopciones</a></li>
				<li><a href="#/evento">Eventos</a></li>
				<li><a href="#">Colaboradores</a></li>
				<li><a href="#">Contacto</a></li>
				<li><a href="#">Donaciones</a></li>
				<li><a href="#">Reportes y estadisticas</a></li>
			</ul>
			</li>
			<li class='active has-sub'><a href='#'><span>Administración</span></a>
			<ul style="background-color: #186767f2;">
				<li><a href="../Roles/Rol.html">Roles</a></li>
				<li><a href="#/usuario">Usuarios</a></li>
			</ul>
			</li>
			<li class='active has-sub'><a href='#/'><span>Salir</span></a></li>
		</ul>
	</div>
</div>
<div class="body-home-transaccional"  ng-controller="homeController as vm" id="dialogContainer" >
		<div class="container-fluid">
		   <div class="row">
			  <div class="col-xs-12">
				
			  </div>
			  <div class="col-xs-12 centered logo ">
			  </div>
		   </div>
		   <!-- fin row-->
        </div>
        </div>

