<div class="container">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <!-- <li>
              <input placeholder="Buscar" type="search" class="gn-search">

              <a class="gn-icon gn-icon-search" href='#'>
                <span>Buscar</span>
              </a>
            </li> -->
            <li>
              <a class="gn-icon gn-icon-Informacion">Información</a>

            </li>
            <li>
              <a class="gn-icon gn-icon-miembros">Miembros</a>
            </li>
            <li>
              <a class="gn-icon gn-icon-donaciones">Donaciones</a>
            </li>
            <li>
              <a class="gn-icon gn-icon-Galeria">Galería</a>

            </li>
            <li>
                <a class="gn-icon gn-icon-Galeria">Galería</a>
  
              </li>
              <li>
                  <a class="gn-icon gn-icon-Galeria">Mascotas</a>
    
                </li>
                <li>
                    <a class="gn-icon gn-icon-Galeria">Fundaciones</a>
      
                  </li>
                  <li>
                      <a class="gn-icon gn-icon-Galeria">Adopciones</a>
        
                    </li>
                    <li>
                        <a class="gn-icon gn-icon-Galeria">Apadrinamiento</a>
          
                      </li>

        
    </li>
  </ul>
  </div>
  <!-- /gn-scroller -->
  </nav>
  </li>
  <li>
      <a href='#/' class=""><img src="assets/logito.png"></a>

    </li>
 
 
    
    
    


  <li class='last'>
    <a href='#/login'>
      <span>
        <img src="assets/usuario.png">
      </span>
    </a>
  </li>
  </li>
  </ul>
  
</div>


<head>
              
              
    <img src="assets/images.jpg">

</head>







<!-- /container -->
<script>

  $('.gn-icon-menu').hover(function () {
    $('.gn-menu-wrapper').toggleClass('gn-open-part');
  });

  $('.gn-menu-wrapper').hover(function () {
    $(this).toggleClass('gn-open-all');
  })
</script>



<!-- <div >
    <div id='cssmenu'>
        <ul>
            <li><a href='#/'><span><img src="assets/casita.png"></span></a></li>
            
            
            <li >  <li class='active has-sub'><a href='#'><span>Mascotas</span></a>  </li>
            <li class='active has-sub'><a href='#'><span>Mascotas</span></a>
                <ul>
                    <li class='has-sub'><a href='#'><span>Perdidos</span></a></li>
                    <li class='has-sub'><a href='#'><span>Encontrados</span></a></li>
                    <li class='has-sub'><a href='#'><span>En adopción</span></a></li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Fundaciones</span></a>
            <ul>
                <li class='has-sub'><a href='#'><span>Información</span></a></li>
                <li class='has-sub'><a href='#'><span>Miembros</span></a></li>
                <li class='has-sub'><a href='#'><span>Donaciones</span></a></li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Adopciones</span></a>
            <ul>
                <li class='has-sub'><a href='#'><span>Proceso y requisito</span></a></li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Interés</span></a>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Cuidados de animales</a></li>
            </ul>
            </li>
            <li class='last'><a href='#/login'><span><img src="assets/usuario.png"></span></a></li>
            <li class='last'><a href='#/login'><span>Iniciar sesión</span></a></li>
        </ul>
    </div>
</div>
<div >-->






<div class="hizli-menu container-fluid">
  <div class="hizli-menu-ic container">
    <div class="row">
      <div class="page-header text-center">
        
      </div>
      <div class="col-md-3 mbottom">
        <a class="btn-group" href="#">
          <div class="row">
            <div class="col-md-4 col-xs-5">
              <img src="http://www.imgim.com/haberler-ikon.png" alt="">
            </div>
            <div class="col-md-8 col-xs-7">
              <span>Mascotas</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mbottom">
        <a class="btn-group" href="#">
          <div class="row">
            <div class="col-md-4 col-xs-5">
              <img src="http://www.imgim.com/medya-ikon.png" alt="">
            </div>
            <div class="col-md-8 col-xs-7">
              <span>Fundaciones</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mbottom">
        <a class="btn-group" href="#">
          <div class="row">
            <div class="col-md-4 col-xs-5">
              <img src="http://www.imgim.com/mevzuat-ikon.png" alt="">
            </div>
            <div class="col-md-8 col-xs-7">
              <span>Adoptar</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mbottom">
        <a class="btn-group" href="#">
          <div class="row">
            <div class="col-md-4 col-xs-5">
              <img src="http://www.imgim.com/etkinlik-ikon.png" alt="">
            </div>
            <div class="col-md-8 col-xs-7">
              <span>Apadrinar</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mbottom">
        <a class="btn-group" href="#">
          <div class="row">
            <div class="col-md-4 col-xs-5">
              <img src="http://www.imgim.com/haberler-ikon.png" alt="">
            </div>
            <div class="col-md-8 col-xs-7">
              <span>Haberler</span>
            </div>
          </div>
        </a>
      </div>
      
      
    </div>
  </div>
</div>













<!-- <div >
    <div id='cssmenu'>
        <ul>
            <li><a href='#/'><span><img src="assets/casita.png"></span></a></li>
            
            
            <li >  <li class='active has-sub'><a href='#'><span>Mascotas</span></a>  </li>
            <li class='active has-sub'><a href='#'><span>Mascotas</span></a>
                <ul>
                    <li class='has-sub'><a href='#'><span>Perdidos</span></a></li>
                    <li class='has-sub'><a href='#'><span>Encontrados</span></a></li>
                    <li class='has-sub'><a href='#'><span>En adopción</span></a></li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Fundaciones</span></a>
            <ul>
                <li class='has-sub'><a href='#'><span>Información</span></a></li>
                <li class='has-sub'><a href='#'><span>Miembros</span></a></li>
                <li class='has-sub'><a href='#'><span>Donaciones</span></a></li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Adopciones</span></a>
            <ul>
                <li class='has-sub'><a href='#'><span>Proceso y requisito</span></a></li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Interés</span></a>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Cuidados de animales</a></li>
            </ul>
            </li>
            <li class='last'><a href='#/login'><span><img src="assets/usuario.png"></span></a></li>
            <li class='last'><a href='#/login'><span>Iniciar sesión</span></a></li>
        </ul>
    </div>
</div>
<div >
    <div class="body-home-publico"  ng-controller="homepublicoController as vm" id="dialogContainer" >
       <div class="container-fluid">
          <div class="row">
             
             <div class="col-xs-14 centered logo">
             </div>
          </div>
         
       </div>
       
       <div class="container-fluid">
          <div class="row">
             <div class="col-xs-12">
                <h1 class="titulo">¿QUIENES SOMOS?</h1>
             </div>
          </div>
          <div class="row quienes">
             <div class="col-xs-12 col-md-6 col-md-offset-1">
                <h3 class="titulo">SOBRE NOSOTROS</h3>
                <p>
                   MIMAS es una red social para fundaciones protectoras de animales impulsada por la fundación FPA, dicha fundación se encarga de la adopción, apadrinamiento y recuperación de animales; todo con la misión de que cada animal tenga la oportunidad de encontrar un hogar.
                </p>
                <p>
                   La fundación también planea el poder permitir a los usuarios gestionar sus procesos de forma interactiva (apoyo al sostenimiento de la fundación con donaciones en especie, publicar animales extraviados y encontrados, búsqueda de animales y solicitudes de adopción). Ampliando así la cobertura del servicio y permitiendo la recepción de más solicitudes.
                </p>
                <p>
                   La fundación requiere que, dentro de los casos de adopción, se puedan registrar los avances y resultados de seguimientos post adopción, teniendo la trazabilidad completa del proceso.
                </p>
             </div>
             <div class="col-xs-12 col-md-5 ">
                <h3 class="titulo">CONTACTO</h3>
                <p>TELÉFONO</p>
                <p>(+57) 300 274 3671</p>
                <p>DIRECCIÓN</p>
                <p>Cll 39 Sur # 37 - 10 (fundación FPA)</p>
                <span>Estamos ubicados en la ciudad de Envigado</span>
             </div>
          </div>
       </div>
    </div>
 
    <div class="social">
       <ul>
          <li><a href="http://www.facebook.com/" target="_blank" class="icon-facebook2"></a></li>
          <li><a href="http://www.twitter.com/" target="_blank" class="icon-twitter"></a></li>
          <li><a href="https://plus.google.com/" target="_blank" class="icon-google-plus2"></a></li>
          <li><a href="#" class="icon-mail"></a></li>
       </ul>
    </div>
 </div>
 <footer>
    <div class="footer"></div>
 </footer> -->